a.btn.btn-primary href="#" role="button"  Link
button.btn.btn-primary type="submit"  Button
input.btn.btn-primary type="button" value="Input" /
input.btn.btn-primary type="submit" value="Submit" /
input.btn.btn-primary type="reset" value="Reset" /
