/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.


@import "bootstrap";

body {
    -webkit-text-size-adjust: 100%;
    background-color: #f8f9fa;
    color: #000000;
}

.modal-body {
    max-height: calc(100vh - 10px);
    overflow-y: auto;
}

.bg-grey{
  background-color: #f8f9fa;
}

.text-active{
  color: #f3980a;
}

.text-basic{
  font-size: 14px;
}

.btn-none{
  color: #fff;
  background-color: rgba(0, 123, 255, 0.39);
  border-color: rgba(0, 123, 255, 0.39);
}

.brand-name{
  color: #212529;
  white-space: nowrap;
}

.folder{
  color: #212529;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-tag{
  color: #007bff;
  border-color: #007bff;
  background-color: white;
}

.img-cup{
  object-fit: cover;
  max-width: 100%;
  
}

.text-heart{
  color: #e0245e;
}